DATABASE_URL=postgres://nextwiki:nextwiki@db:5432/nextwiki
NEXTWIKI_BASE_URL=http://localhost:3000
NEXTWIKI_SECRET=
NEXTWIKI_MEDIA_DRIVER=local
NEXTWIKI_MEDIA_ROOT=/app/media
NEXTWIKI_STORAGE_PUBLIC_PATH=/media
NEXTWIKI_SMTP_URL=
NEXTWIKI_EMAIL_FROM=
NEXTWIKI_S3_ENDPOINT=
NEXTWIKI_S3_REGION=us-east-1
NEXTWIKI_S3_BUCKET=
NEXTWIKI_S3_ACCESS_KEY_ID=
NEXTWIKI_S3_SECRET_ACCESS_KEY=
